/* css reset */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior:smooth;
}
/* navbar */
#navbar{
    display:flex;
    align-items:center;
    position:sticky;
    top:0px;
    z-index:1;
}
#logo{
    margin:-18px 0px;
}
#logo img{
    height:63px;
    margin:20px 20px;
}
#navbar ul{
 display:flex; 
}
#navbar ul li{
    list-style:none;
    font-size:1.3rem;
font-weight: bold ;
}
#navbar::before{
    content: "";
    background-color:black;
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.6;
}
#navbar ul li a{
     color:white; 
    display:block;
    padding:3px 22px;
    border-radius:20px;
    text-decoration:none;
} 
#navbar ul li a:hover{
   color:black;
   background-color: white;
} 
/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height:420px;
}
#home::before{
    content: "";
    background:url('../image/bg1.jpg') no-repeat center center/cover;
    position:absolute;
    top:0px;
    left:0px;
    height:485px;
    width:100%;
    z-index:-1;
    opacity:0.75;
}
#home h1{
    color:black;
    text-shadow: 3px -2px white;
    text-align:center;
    font-weight: bold;
}
#home p{
    color:black;
    text-shadow: 1px -1px white;
    text-align:center;
font-size:1.5rem;
font-weight: 600;
}
/* services section */
#services{
    margin :22px;
    display:flex;
}
#services .box{
    border:2px solid black;
    padding:24px;
    margin:5px 10px;
    margin-bottom: 16px;
    border-radius: 28px;
    background-color: rgb(234, 249, 250);
}
#services .box img{
    height:150px;
    margin:auto;
    display:block;
}
#services .box p{
    text-align: center;
}
/* client section */
 /* #client1{ 
      position:relative;
    z-index:-1;
}  */
#client-section{
    height:344px;
}
#clients{
    display:flex;
    justify-content:center;
    align-items:center;
}
#clients img{
    height:124px;
}
.client-item{
    padding:34px;
    /* z-index:-1; */
}
#client-section{
    position :relative;
    /* height:330px;*/
} 
#client-section::before{
    content: "";
    background:url('../image/bg2.jpg') no-repeat center center/cover;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.28;
}
/* contact section */
#contact{
    position:relative;
}
/* #contact1{ 
    position:relative;
  z-index:-1;
}  */
#contact::before{
    content: "";
    background:url('../image/bg3.jpg') no-repeat center center/cover;
    position:absolute;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.5;
}
#contact-box{
    display:flex;
    justify-content:center;
    align-items:center;
    /* padding-top:20px; */
   padding-bottom:34px;
  
}
#contact-box input,
#contact-box textarea{
    width:100%;
    padding:0.35rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width:38%;
    /* z-index: -1; */
}
#contact-box label{
    font-size: 1.3rem;
    font-weight: bold;
}
footer{
    background: black;
    color: white;
    padding : 9px 20px;
}

/* Utility classes */
.h-primary{
    font-size:2.8rem;
padding: 12px;
}
.h-secondary{
    font-size:2rem;
padding: 12px;
}
.btn{
padding:3px 10px;
border:2px solid white;
background-color:darkslategray;
color: white;
margin:17px;
font-size: 1.5rem;
border-radius: 14px;
cursor:pointer;
}
.btn:hover{
    color: black;
    background-color: gray;
}
.center{
    text-align:center;
}
